// Place all the styles related to the Tourbooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.delete_from_book {
  position: absolute;
  top: 1px;
  right: 4px;
}

.new-tour-book-btn {
  margin-bottom: 10px;
}