<div class="row">
   <div class="col-12 col-md">

        <h3>Upload a tour</h3>
        
        <p><a href="https://www.trekview.org/tools/tourer/" target="_blank">Download Trek View Tourer to create and publish your panoramic tours to Explorer</a>.</p>

        <p>Coming soon: We are currently working on new features allowing you to upload your photos and tours online in Explorer.</p>

    </div>
</div>