<div class="tours-books-toggle btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-light <%= @tab == 'tours' ? 'active' : '' %>">
    <input type="radio" name="options" id="option-tour" autocomplete="off" checked> Tours
  </label>
  <label class="btn btn-light <%= @tab == 'tourbooks' ? 'active' : '' %>">
    <input type="radio" name="options" id="option-tourbooks" autocomplete="off"> Tourbooks
  </label>
</div>