// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.photo-container {
  padding-bottom: 10px;

  .photo-card-link {
    text-decoration: none;
    color: black;
  }

  .photo-image {
    object-fit: contain;
  }

  .photo-attributes-table {
    th:first-child {
      width: 300px;
    }

    tbody {
      word-break: break-word;
    }
  }

  #panorama {
    width: 100%;
    height: 400px;
  }
}

.viewpoint, .embed-btn {
  display: inline-block;
  background-size: contain;
  text-align: center;
  color: white;
  font-size: 12px;
  position: absolute;
  right: 0;
  margin: 5px 20px 0 0;
  cursor: pointer;
  z-index: 100;

  i.fa {
    color: yellow;
    font-size: 32px;
  }
}

.viewpoint {
  span {
    position: absolute;
    left: 50%;
    color: red;
    font-weight: bold;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.embed-btn {
  margin-right: 60px;

  i.fa {
    color: white;
    font-size: 32px;
  }

  .custom-tooltip {
    position: absolute;
    top: 100%;
    right: 0;
    max-width: 300px;
    padding: 8px;
    background: black;
    color: white;
    letter-spacing: 0.05em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s;
  }

  &:hover .custom-tooltip,
  .custom-tooltip.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.25s;
  }
}
