<div class="row">
   <div class="col-12 col-md">
        <h3>About Explorer</h3>

        <p>Discover the world with Trek View Explorer.</p>

        <p>Share your own panoramic tours of the natural world with fellow trekkers around the world.</p>

        <p>Or unleash your inner explorer and travel the globe without leaving home. Take a journey to sites of cultural, historical, and geographic significance.</p>

        <h3>Use of our imagery</h3>

        <p>All of the imagery captured by our trekkers and uploaded to Explorer is licensed under a <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.</p>

        <p>You are free to:</p>

		<ul>
			<li><strong>Share</strong> — copy and redistribute the material in any medium or format</li>
			<li><strong>Adapt</strong> — remix, transform, and build upon the material</li>
		</ul>

		<p>Under the following terms:</p>

		<ul>
			<li><strong>Attribution</strong> — You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.</li>
			<li><strong>NonCommercial</strong> — You may not use the material for commercial purposes.</li>
			<li><strong>ShareAlike</strong> — If you remix, transform, or build upon the material, you must distribute your contributions under the same license as the original.</li>
		</ul>

		<p>If you're unsure about using our imagery in your project or want to use the imagery outside of the specified license conditions, <a href="https://www.trekview.org/contact/" target="_blank">get in contact with us using this form to discuss</a>.</p>

        <h3>About Trek View</h3>

        <p>Trek View is a not-for-profit organisation using the power of panoramic photography to help protect against further destruction of our beautiful planet.</p>

        <p><a href="https://www.trekview.org/about/" target="_blank">Read more about our work here</a>.</p>

    </div>
</div>